/*===> start variables ===>*/
    :root{
        --main-color:#10cab7;
    }
/*end variables*/

/*===>start global rules<===*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*==>end global roles <===*/
/*====>start header styling<====*/
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .logo{
    width: 60px;
}
.container .links{
    position: relative;
}
.links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.links .icon span:first-child{
    width: 100%;
}
.links .icon span:nth-child(2){
    width: 60%;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.links .icon:hover  span:nth-child(2){
    width: 100%;
}
.links .icon span:nth-child(3){
    width: 100%;
}
.links .drop{
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
    background-color: #f6f6f6;
    position: absolute;
    top: calc(100% + 15px);
    right: 0px;
    z-index: 2;
    display: none;
}
.drop::after{
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    top: -19px;
    right: 5px;
}
.drop li a{
    display: block;
    padding: 15px;
    color: #333;
    text-decoration: none;
    transition-property: padding;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
.drop li a:hover{
    padding-left: 25px;
}
.drop li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
.links:hover .drop{
    display: block;
}
/* ===>starting landing section<=== */
.landing{
    /* width: 100%; */
    height:calc(100vh - 64px);
    background-image: url(../images/background-landing.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.landing .intro-text{
    width: 320px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.landing .intro-text h1{
    margin: 0;
    color: var(--main-color);
    text-transform: capitalize;
    font-weight: bold;
    font-size: 50px;
    -webkit-text-stroke:1px  #ddd;
}
.landing .intro-text p{
    font-weight: 600;
    font-size: 19px;
    line-height: 1.8;
    -webkit-text-stroke:0.5px #ddd;
}