/*===> start variables ===>*/
    :root{
        --main-color:#10cab7;
        --secondary-color:#2c4755;
        --section-background:#f6f6f6;
        --section-padding:60px;
    }
/*end variables*/

/*===>start global rules<===*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Work Sans', sans-serif;;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*==>end global roles <===*/
/* ===>start a components <===*/
.special-heading{
    color: #ebeced;
    text-align: center;
    font-weight: 800;
    font-size:100px;
    letter-spacing: -3px;
    margin: 0;
}
.special-para{
    color: #888888;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin-top: -46px;
}
/* ===>end a components <===*/
/*====>start header styling<====*/
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .logo{
    width: 60px;
}
.container .links{
    position: relative;
}
.links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.links .icon span:first-child{
    width: 100%;
}
.links .icon span:nth-child(2){
    width: 60%;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.links .icon:hover  span:nth-child(2){
    width: 100%;
}
.links .icon span:nth-child(3){
    width: 100%;
}
.links .drop{
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
    background-color: #f6f6f6;
    position: absolute;
    top: calc(100% + 15px);
    right: 0px;
    z-index: 1;
    display: none;
}
.drop::after{
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    top: -19px;
    right: 5px;
}
.drop li a{
    display: block;
    padding: 15px;
    color: #333;
    text-decoration: none;
    transition-property: padding;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
.drop li a:hover{
    padding-left: 25px;
}
.drop li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
.links:hover .drop{
    display: block;
}
/* ===>starting landing section<=== */
.landing{
    /* width: 100%; */
    height:calc(100vh - 64px);
    background-image: url(../images/background-landing.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    position: relative;
}
.landing .intro-text{
    width: 320px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.landing .intro-text h1{
    margin: 0;
    color: var(--main-color);
    text-transform: capitalize;
    font-weight: bold;
    font-size: 50px;
    -webkit-text-stroke:1px  #ddd;
}
.landing .intro-text p{
    font-weight: 600;
    font-size: 19px;
    line-height: 1.8;
    -webkit-text-stroke:0.5px #ddd;
}
/* ===>end the landing section<=== */
/* ===>start the feature section<=== */
.features{
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap:20px;
}
.container .feat{
    padding: 15px;
    text-align: center;
}
.container .fa-bounce{
    color: var(--main-color);
    font-size: 50px;
}
.container .feat h3{
    text-transform: capitalize;
    font-weight: 800;
    margin: 30px 0px;
}
.container .feat p{
    font-weight: 400;
    line-height: 1.6;
    color:#777 ;
    font-size: 18px;
}
/* ===>end the features section<=== */
/* ===>start the services section<=== */
.services{
    padding-top: var(--section-padding);
    padding-bottom:var(--section-padding);
    border-color: var(--section-background);
}
.serv-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;
}
.serv{
    display: flex;
    margin-bottom: 40px;
}
.col .serv i{
    font-size: 25px;
    flex-basis: 60px;
    color: var(--main-color);
    margin: auto;
    /* margin-right: 10px; */
}
.text{
    flex: 1;
}
.text h3{
    margin: 0px 0px 20px;
}
.text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.imag{
    position: relative;
    text-align: center;
}
.imag img{
    width: 240px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imag::before{
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: -50px;
    z-index: -1;
}
/* ===>end the services section<=== */
/* ===>start the services portfolio<=== */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.port-content{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 15px;
}
.card{
    /* border: 3px solid var(--main-color); */
    width: 300px;
    height: 350px;
    position: relative;
    background-color: white;
    margin: auto;
}
.card .imag1{
    width: 100%;
    height: 80%;
    box-shadow: 3px 3px 5px gray;
    transition: all 2s;
    transform: scale(1);
  
    /* background-image: url(../images/project1.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 0%;
    background-size: contain; */
}
.card .imag1 img{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.card .imag1:hover{
    transform: scale(1.2);
}
/* .card .imag2{
    width: 100%;
    height: 100%;
    background-color: #888888;
    background-image: url(../images/project2.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 0%r;
    background-size: contain;
} */
/* .card .imag3{
    width: 90%;
    height: 80%;
    background-color: #888888;
    background-image: url(../images/project3.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 0%r;
    background-size: contain;
} */
.card .card-text{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #bcbbbb,#f2f2f2,transparent);
}
.card-text:hover i{
    display: none;
}
.card .card-text .card-head{
    display: flex;
}.card .card-text .card-head i{
    flex-grow: 1;
    text-align: right;
    font-size: 20px;
    color: #10cab7;
}
.card-text p{
    
    font-size: 0vw;
}
.card .card-text:hover p, .card .card-text:active p{
    font-size: 1vw;
    transition-property: font-size;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}
/* ===>end  portfolio section<=== */
/* ===>start about section<=== */
.about{
    padding-top: var(--section-padding);
    padding-bottom:  var(--section-padding);
}
.about .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .about-content .image-about{
    position: relative;
    width: 250px;
    height: 375px;
    flex-basis: calc(100% - 500px);
}
.about .about-content .image-about img{
    display: block;
    width: 100%;
    height: 100%;
}
.about .about-content .image-about::before{
    content: "";
    position: absolute;
    width: 25%;
    height: 80%;
    background-color: var(--main-color);
    top: -20%;
    right: 0%;
    transform: translate(50%,0%);
    z-index: -1;
}
.about .about-content .image-about::after{
    content: "";
    position: absolute;
    width: 20%;
    height: 20%;
    background-color: var(--main-color);
    top: 60%;
    left: calc(100% + 24px);
    transform: translate(0%,-100%);
}
.about .about-content .text-about{
    flex: 1;
    padding-left: 100px;

}
.about .about-content .text-about p:first-of-type  {
    font-weight:bold;
    font-size: 26px;
    line-height: 2;
    margin-bottom:50px ;
    /* padding-left: 200px; */
}
hr{
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);
}
.about .about-content .text-about p:last-of-type{
    font-weight: 400;
    line-height: 2;
    color: #777;
}
/* ===>end about section<=== */
/* ===>start contact section<=== */
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}
.contact-content{
    margin-top: 100px;
}
.contact .contact-content .text-contact p:first-child{
    color: #2c4755;
    font-weight: 900;
    font-size: 40px;
}
.contact .contact-content .text-contact a{
    color: var(--main-color);
    text-decoration: none;
    font-weight: 900;
    font-size: 30px;
    padding-left: 20px;
}
.contact .contact-content .icon1{
    display: flex;
    justify-content: space-between;
    max-width: 400px;
}
/* ===>end contact section<=== */
/* ===>start footer section<=== */
footer{
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 30px;
    text-align: center;
}
footer span{
    font-weight: bold;
    color: var(--main-color);
}
/* ===>end footer section<=== */